* { position: relative; margin: 0;}

header { display: flex; 
        background-color: #2A2A29;
        margin-inline: auto;
        margin-top: 40px;
        width: 1240px;
        height: 24px;
        /*position: fixed;*/}

header a { font-family: "Montserrat", sans-serif;
           text-decoration: none;
           margin-block: auto;
           line-height: 130%;
           font-weight: 300;
           color: #FFFFFF;
           font-size: 13px;}

header a:hover { color: #FFEA00;}

nav { margin-left: 120px;
      display: flex; gap: 30px;}

.div2 {margin-left: 60px;}
.korzina:hover { stroke: #FFEA00;}

.korzina { margin-left: 22.05px;}

.a5 { color: #FFEA00; margin-left: 401px; padding-bottom: 5px; 
    border-bottom: #FFEA00 solid 1px;}

.burger,.krestik { display: none;}
           