* { position: relative; margin: 0;}

header { display: flex; 
        width: 1240px; 
        height: 24px; 
        background-color:#2a2a29; 
        font-family: "Montserrat", sans-serif; 
        text-decoration: none; 
        margin-top: 40px; 
        margin-inline: auto;
        position: fixed;}

header * { margin-block: auto;}       

header nav { margin-left: 120px; margin-bottom: 20px; margin-block: auto; display: flex; gap: 30px; }
header nav a:hover {color: #ffea00;}         

header a, .but1 { text-decoration: none; font-weight: 300;
font-size: 13px; line-height: 130%; color: #FFFFFF;}
.but1 { color: #ffea00; margin-left: 401px; display: inline;} 

.krestik { visibility: hidden;}

.burger-menu { width: 20px; height: 14px; visibility: hidden;}

.div2 { margin-left: 60px;}


