table { border-spacing: 0; border-collapse: collapse; margin-left: 650px; margin-top: 400px;}
caption { border: 2px solid black; border-bottom: none; font-weight: bold;}
th, td { border: 2px solid black; width: 20px;}
.wikend { color:rgb(215, 5, 5)}
